
{# notificacion.html.twig #}
{% extends 'DesymfonyBundle:Default:base.html.twig' %}

{% block titulo %}
    Notificación | {{ parent() }}
{% endblock %}

{% block estilos %}
    {{ parent() }}
    <link href="{{ asset('bundles/desymfony/css/alto.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block encabezado %}  Notificación:  {% endblock %}

{% block contenido %}

    <p> Ponencia y ponente fueron registrados satisfactoriamente! </p>

    <p>  <b> Titulo: </b> {{ titulo }} </p>
    <p>  <b> Ponente: </b> {{ ponente }} </p>



{% endblock %}
