{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ponencia list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Duracion</th>
                <th>Idioma</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ponencia_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.hora|date('H:i:s') }}</td>
                <td>{{ entity.duracion }}</td>
                <td>{{ entity.idioma }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('ponencia_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('ponencia_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('ponencia_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
